.cart-info {
    display: flex;
    flex-direction: row;
    margin: 35px;
    width: 800px;
    box-shadow: 10px 10px 10px;
}
.size-img {
    width: 400px;
}
.information {
    width: 420px;
    padding: 10px;
    font-size: 17px;
}
.link-d {
    border: 1px solid rgba(0, 0, 0, 0.473);
    padding: 4px;
    width: 121px;
    margin: 2px;
}
.link-d:hover {
    background-color: darkgoldenrod;
    border-radius: 2px;
}
.flex-l {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec-links {
    position: relative;
    top: 63%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 700px) {
    .cart-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        box-shadow: 4px 4px 15px;
        padding: 8px;
    }
    .size-img {
        width: 250px;
    }
    .information {
        width: 80%;
    }
    .link-d {
        border: 1px solid;
        padding: 4px;
        width: 90px;
        font-size: 12px;
    }
    .sec-links {
        display: flex;
        flex-wrap: wrap;
    }
}