.cart {
    display: flex;
    flex-direction: row;
    border: 1px solid;
    padding: 25px;
}
.size-img {
    width: 400px;
}
.information {
    border: 1px solid;
    width: 400px;
}

@media (max-width: 700px) {
    .cart {
        flex-direction: column;
        align-items: center;
    }
    .size-img {
        width: 300px;
    }
    .information {
        width: 300px;
    }
}